PORT=5000
NODE_ENV=production
JWT_SECRET=YOUR_RANDOM_SECRET_JWT_KEY
BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_FROM_BOTFATHER
DATABASE_URL=postgres://USERNAME:PASSWORD@HOST:PORT/DATABASE?sslmode=require
ADMIN_TELEGRAM_ID=8780377211
ADMIN_TELEGRAM_USERNAME=ottadmin2026
ADMIN_BANK_NAME=MBBank
ADMIN_BANK_ACCOUNT=999988889999
ADMIN_BANK_HOLDER=OAN TU TI OFFICIAL
ADMIN_USDT_ADDRESS=T9yD14Nj9j7xQvL894K1mP5xZ7W8qM3v
FRONTEND_URL=https://your-frontend.onrender.com
